<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender Configuration -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define the logging pattern -->
            <pattern>%green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %blue(%logger{100}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <!-- Define the logging pattern -->
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %blue(%logger{100}): %msg%n%throwable</pattern>
        </encoder>
        <file>
            journalApp.log
        </file>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="FileAppender" />
    </root>
</configuration>